/* Con pantallas móviles, desaparece el h1 y recolocamos auth */
@media (max-width: 768px) {
  .h1-text-container {
    display: none;
  }
  .auth-container {
    padding-top: 5rem;
  }
}

@media (max-width: 1400px) {
  .h1-text-container {
    font-size: 1.5em;
  }
  .auth-container {
    padding-top: 5rem;
  }
}

.h1-text-container {
  text-align: center;
}

.link-text {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.5em;
  margin-left: 0.5em;
  background: #cf08a7;
  background: linear-gradient(to right, #cf08a7 0%, #e5b63e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
