.post-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .post-container {
    margin-left: 200px;
    max-width: calc(100% - 200px);
  }
}

.post-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.post-user-top {
  text-align: left;
}

.post-icons-below {
  display: flex;
  gap: 0.5rem;
}

.likes-count {
  text-align: left;
}

.post-user-bold {
  font-weight: bold;
}

.initial-post-text {
  text-align: left;
}

.url-copy {
  text-align: left;
  color: rgb(71, 114, 8);
}

.share-button {
  padding: 0;
}

.delete-confirmation {
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid;
}
