.post-user-top {
  text-align: left;
}

.post-icons-below {
  display: flex;
  gap: 0.5rem;
}

.likes-count {
  text-align: left;
}

.post-user-bold {
  font-weight: bold;
}

.initial-post-text {
  text-align: left;
}

.url-copy {
  text-align: left;
  color: rgb(71, 114, 8);
}

.share-button {
  padding: 0;
}

.delete-confirmation {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid;
}

/* article {
  border: 1px solid gainsboro;
  margin-bottom: 2rem;
} */
