.settings {
  width: 60%;
}

.settings fieldset {
  display: flex;
  flex-direction: column;
  gap: 3em;
  border: none;
}

.settings label {
  font-weight: 700;
  display: flex;
  align-items: center;
  min-width: 150px;
}

.settings input {
  width: 100%;
}

.field {
  display: flex;
  gap: 0.8em;
  align-items: center;
}

.settings button {
  margin-bottom: 5em;
}

@media (max-width: 1400px) {
  

  .settings label {
    flex-direction: column;
    align-items: center;
    min-width: unset;
  }

  .field {
    flex-direction: column;
  }

  @media (max-width: 450px) {
    .settings {
      width: 80%;
    }
  }
}