.sidebar {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

@media (min-width: 768px) {
  .sidebar {
    width: 20%;
    max-width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.hacka-bartext {
  font-size: larger;
  font-weight: bold;
}

.hackagram-logo {
  width: 40%;
  margin-bottom: 2rem;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-item i {
  margin-right: 10px;
}

.sidebar-item:hover {
  background-color: #e0e0e0;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Con pantallas móviles, SIDEBAR se sitúa arriba */
@media (max-width: 767px) {
  .sidebar {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }

  .hacka-bartext {
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
  }

  .hackagram-logo {
    display: none;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }

  .sidebar-item {
    padding: 5px;
  }

  .text-from-sidebar {
    display: none;
  }
}
