@media (max-width: 767px) {
  .loading-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-height: 400px;
    width: 100%;
  }

  .loading-img img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 768px) {
  .loading-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 200px;
    max-width: calc(100% - 200px);
    height: 70vh;
    max-height: 600px;
  }

  .loading-img img {
    object-fit: contain;
  }
}
