.new-form {
  height: 70vh;
}

@media (max-width: 1920px) {
  .new-form {
    height: 55vh;
  }
}

.new-form fieldset {
  border: none;
  color: rgb(0, 0, 0);
}

.new-form textarea {
  width: 260px;
  height: 100px;
  vertical-align: text-top;
}

.new-form label {
  margin-bottom: 5px;
}

.new-form input::placeholder {
  color: white;
}
@media (min-width: 768px) {
  .new-form {
    margin-left: 200px;
    max-width: calc(100% - 200px);
  }
}
