#newBio {
  resize: none;
  width: 30vw;
  height: 6em;
  margin-bottom: 1em;
}

.edit-bio {
  position: relative;
  cursor: pointer;
  word-wrap: break-word;
}

.edit-bio:hover::after {
  display: block;
}

#newAvatar {
  display: none;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

@media (max-width: 1500px) {
  .edit-bio {
    overflow-wrap: anywhere;
    display: inline-block;
    width: 60%;
    white-space: pre-wrap;
  }
}

@media (min-width: 768px) {
  .profile {
    margin-left: 200px;
    max-width: calc(100% - 200px);
  }
}

.avatar img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  cursor: pointer;
}

.profile h2 {
  font-size: 6em;
}

.profile h3 {
  font-size: 3em;
  color: rgba(0, 0, 0, 0.816);
}

.profile h3:hover {
  color: rgb(247, 181, 15);
}

.avatar p:hover {
  font-weight: 500;
  color: rgb(247, 181, 15);
  cursor: pointer;
}

.edit-bio-p:hover {
  font-weight: 500;
  color: rgb(247, 181, 15);
  cursor: pointer;
}

.edit-bio-p {
  margin-bottom: 2em;
}

.profile form {
  display: flex;
  flex-direction: column;
}
